body {
     font-family: 'Playpen Sans', cursive;
     margin: 0;
     box-sizing: border-box;
     min-height: 100vh;
}

.container {
     width: 95vw;
     max-width: 71.25rem;
     margin: auto;
}
header {
     background: #a5bc6a;
     width: 100%;
     margin: 0;
     color: #5f731c;
}

header div {
     display: grid;
     grid-template-columns: auto 1fr;
}

nav {
     background: #ffe3b3;
}

nav ul {
     display: flex;
     list-style-type: none;
     margin: 0;
     padding: 0;
     height: 100%;
     align-items: baseline;
     justify-content: center;
}

nav ul li{
     height: 40px;
}

header ul a {
     text-decoration: none;
     color: #5f731c;
     font-weight: 700;
     height: 100%;
     padding: 0px 25px;
}

header ul li:hover {
     background: #ffb433;
}

.active{
     background: #ffbe4d;
}

header img {
     padding: 5px;
     border-radius: 30px;
}

.grid {
     display: grid;
     grid-template-columns: auto 1fr;
}

h2 {
     color: #e49101;
}