body {
     font-family: 'Playpen Sans', cursive;
     margin: 0;
     box-sizing: border-box;
     min-height: 100vh;
     background: #fff6e6;
}

.container {
     width: 95vw;
     max-width: 71.25rem;
     margin: auto;
     padding-top: 15px;
}
header {
     background: #a5bc6a;
     width: 100%;
     margin: 0;
     color: #5f731c;
}

header div {
     display: grid;
     grid-template-columns: auto 1fr;
}

header h1 {
     font-size: 3rem;
}

header img {
     padding: 10px;
     border-radius: 30px;
}

nav {
     background: #ffe3b3;
}

nav ul {
     display: flex;
     list-style-type: none;
     margin: 0;
     padding: 0;
     height: 100%;
     align-content: center;
     justify-content: center;
}

nav ul li {
     height: 40px;
     text-align: center;
     display: flex;
     align-items: center;
}

header ul a {
     text-decoration: none;
     color: #5f731c;
     font-weight: 700;
     padding: 0px 25px;
}

header ul li:hover {
     background: #ffb433;
}

.active {
     background: #ffbe4d;
}

.grid {
     display: grid;
     grid-template-columns: 3fr 1fr;
}

.grid-4 {
     display: flex;
     justify-content: center;
     gap: 10px;
}

.grid-4 img {
     padding-top: 0;
} 

.grid-4 div {
     display: grid;
     grid-template-rows: 3fr 2fr 2fr;
     border-radius: 15px;
     justify-self: center;
     padding: 15px;
}
.escape-game {
     background: #6f9c3d;
}

.first {
     background: #fea002;
}

.second {
     background: #e22d02;
}

.third {
     background: #a5bc6a;
}
h2 {
     color: #e49101;
}

img {
     padding-top: 0.83em;
}

.sheets {
     display: flex;
     justify-content: start;
     gap: 50px;
}

.alfred-content {
     display: flex;
}
